<h1><%= @title = "Edit Phenotype" %></h1>
<%= link_to image_tag('icons/eye.png'), @phenotype, :class => 'quick_link' %>
<%= link_to image_tag('icons/application_view_list.png'), phenotypes_path, :class => 'quick_link' %>


<% form_for(@phenotype) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => 'fields', :locals => {:f => f} %>

    <%= f.submit 'Update' %>
  </p>
<% end %>

