<h1>Editing source</h1>
<%= link_to image_tag('icons/eye.png'), @source, :class => 'quick_link' %>
<%= link_to image_tag('icons/application_view_list.png'), sources_path, :class => 'quick_link' %>

<% form_for(@source) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => 'fields', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
