<h1>New format</h1>

<% form_for(@format) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :mime_type %><br />
    <%= f.text_field :mime_type %>
  </p>
  <p>
    <%= f.label :file_suffix %><br />
    <%= f.text_field :file_suffix %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', formats_path %>