<!-- Author: Preetika Tyagi -->
<style>
.submitbutton {
 color: #fff;
 font-size: 5;
 background-color: #996600;
 border: none;
}
</style>
<!--Display Welcome Message-->
<font face="Arial" size=4 color="green"><b>Welcome, <%= @sequencer%></b></font>
<hr>
<br>

<% form_for(@upload, :html => {:multipart => true}) do |f| %>
<%= f.error_messages %>	
		<font face="Arial" size=4 color="#996600"><b>Quick Import</b></font>
			<div style="border-style: double;width:400px;align:center;">
			<p style="text-align:right;">
			<%= link_to '[create new patient import package]', new_import_path, :class => 'quick_link' %>
			</p>
			<hr>
			<p>
				<font face="Times New Roman" size=4 color="#996600">
					<%= f.label :Patient %>&nbsp;&nbsp;&nbsp;&nbsp;	
				</font>
					<%= text_field_tag('patientName', '', :size => '4', :maxlength => '') %>
			</p>
			<p>
				<font face="Times New Roman" size=4 color="#996600">
					<%= f.label :Aberration %>&nbsp;&nbsp;&nbsp;&nbsp;	
				</font>
					<%= text_field_tag('aberration', '', :size => '4', :maxlength => '') %>
			</p>
			<p>
			<% imports = Import.find(:all).collect {|i| [ h("##{i.id} (#{i.patient.name})"), i.id ] } %>
			<font face="Times New Roman" size=4 color="#996600">
				<%= f.label :import_id %>&nbsp;&nbsp;&nbsp;&nbsp;
			</font>
			<%= f.select("import_id", imports, { :include_blank => false, :selected => (@defaults ? 		@defaults[:import_id].to_i : @upload.import_id) }) %>
			</p>
			<p>
				<font face="Times New Roman" size=4 color="#996600">
					<%= f.label :data %>&nbsp;&nbsp;&nbsp;&nbsp;	<%= f.file_field :data %>
				</font>
			</p>
  			<p>
    			&nbsp;&nbsp;&nbsp;&nbsp;<%= f.submit 'Upload',:class => "submitbutton" %>
  			</p>
	</div>
<% end %>