<tr class="<%= cycle('light', 'dark', :name => 'role_row') %>">
	<td><%= link_to h(row.data_file_name), row %></td>
  <td><%= link_to h(row.data_content_type), row %></td>
  <td><%= link_to h(row.data_file_size), row %></td>
  <td><%= link_to h(row.samples.count), row %></td>
  <td>
		<%= link_to image_tag('icons/eye.png'), row %>
		<%= link_to image_tag('icons/pencil.png'), edit_upload_path(row) %>
		<%= link_to image_tag('icons/bin_closed.png'), row, :confirm => 'Are you really, really sure?', :method => :delete %></td>
</tr>
